/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  body {
    background-color: white;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 15px;
    padding-left: 16px;
  }
  header .search-div {
    width: 55%;
    margin-right: 50px;
  }
  header .logo {
    display: none;
  }
  .toggle {
    margin-right: 40px !important;
    margin-top: 12px;
    margin-left: 0 !important;
  }
  .toggle span.one {
    width: 30px !important;
  }
  .toggle span.two {
    width: 30px !important;
  }
  .toggle span.three {
    width: 30px !important;
  }
  .container .menu {
    padding: 20px;
  }
  .container .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .flex .side-nav {
    width: 100% !important;
    display: none;
  }
  .container .flex div {
    width: 100%;
  }
  .container .main {
    margin-left: 0;
    margin-top: 30px;
    width: 78% !important;
    background-color: inherit;
  }
  .list-item.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card {
    width: 100% !important;
    margin-top: 20px;
    background-color: white;
  }
  .card hr {
    width: 100%;
  }
  .card .head {
    padding: 0;
    width: 100% !important;
    font-size: .9em;
  }
  .card .head p:nth-of-type(2) {
    float: left;
    margin-left: 60px;
  }
  .card .card-list {
    padding: 5px !important;
  }
  .info.flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .banner {
    width: 100% !important;
  }
  .banner .banner-text {
    width: 165px !important;
  }
  .banner .banner-text .txt {
    display: none;
  }
  .banner .banner-text .txt-mobile {
    display: block;
  }
  .banner .banner-text button {
    font-size: .7em;
    font-weight: bold;
  }
  .dash-info {
    width: 100%;
  }
  .dash-item.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card.products .product-list {
    padding: 0 !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card.products .product-list .product-item {
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
  }
  .nav-head {
    display: none;
  }
  .side-nav hr {
    display: none;
  }
  .card.staff {
    margin-left: -13px;
  }
  .card.branch {
    margin-left: -13px;
  }
  .branch-item {
    margin-top: 20px;
    text-align: center;
  }
  .staff-item {
    margin-top: 20px;
    text-align: center;
  }
  .branch-item {
    margin-top: 20px;
    text-align: center;
  }
  .dash-item p {
    width: 100% !important;
  }
  .my-acct {
    margin-right: 10px;
  }
  .my-acct .acct-mobile {
    display: block !important;
    margin-top: 5px;
  }
  .my-acct .acct-btn {
    display: none;
  }
  .shop {
    margin-top: 15px;
  }
  .shop img {
    width: 20px;
    height: 20px;
  }
  .order {
    margin-top: -100px;
  }
  .profile {
    margin-left: 0;
    width: 100%;
  }
  .profile .tabs button {
    margin-bottom: 2px;
    margin-left: 0 !important;
    width: 100%;
  }
  .profile .tabs button:last-child {
    border: 1px solid green;
  }
  .profile-form {
    padding: 10px !important;
  }
  .profile-form p {
    margin-right: 0 !important;
    font-size: .9em;
  }
  .profile-form p::before {
    content: attr(data-no) ". ";
  }
  .profile-form-right form label::before {
    content: attr(data-no) ". ";
  }
  .profile-form-right form input[type="text"] {
    width: 260px !important;
  }
  .profile-form-right form select {
    width: 290px !important;
  }
  .profile-form-right form button {
    width: 90% !important;
    margin-bottom: 20px;
  }
  .profile-form-right form button:first-child {
    margin-top: 30px;
  }
  .upload-left {
    display: none;
  }
  .upload-right {
    margin-left: 0;
  }
  .upload-right p {
    margin-right: 40px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex .side-nav {
    width: 100% !important;
  }
  .flex div {
    width: 100%;
  }
  .info.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main {
    margin-left: 0px !important;
    margin-top: 30px;
    width: 87% !important;
  }
  .list-item.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card {
    width: 100% !important;
  }
  .card hr {
    width: 95%;
  }
  .card .head {
    width: 90%;
  }
  .list-item p {
    width: 10%;
  }
  .dash-item.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dash-item p {
    width: 100% !important;
    padding-left: 60px;
  }
  .banner-text {
    width: 490px !important;
  }
  .banner-text p:nth-of-type(2) {
    font-size: .8em;
  }
  .my-acct {
    width: 5% !important;
    margin-right: 27px !important;
    margin-left: 5px;
  }
  .my-acct .acct-mobile {
    display: block !important;
    margin-top: 5px;
  }
  .my-acct .acct-btn {
    display: none;
  }
  .shop {
    margin-top: 13px !important;
  }
  .upload-left {
    display: none;
  }
  .upload-right {
    margin-left: 0;
  }
  .upload-right label {
    margin-top: 7px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=responsive.css.map */